nixos/system/services/ddclient_password filter=git-crypt diff=git-crypt
nixos/home-ca/** filter=git-crypt diff=git-crypt
nixos/home-ca filter=git-crypt diff=git-crypt
k8s/ddclient/ddclient.conf filter=git-crypt diff=git-crypt
k8s/**/*secret.yml filter=git-crypt diff=git-crypt
k8s/**/*secret.yaml filter=git-crypt diff=git-crypt
